body {
  color: white;
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(22, 22, 22);
  margin-left: 75px;
  margin-right: 75px;
  margin-bottom: 75px;
}

section {
  margin-top: 75px;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 25px;
}

p {
  font-size: 20px;
}

#myThingsPara {
  font-size: 25px;
}

button {
  color: white;
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
  background-color: transparent;
  cursor: pointer;
  border-style: solid;
  border-color: white;
  border-radius: 7px;
  border-width: 1px;
}

img {
  padding-top: 25px;
  stroke: #fff;
  width: 210px;
  animation-name: animate;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes animate {
  0% {
    filter: drop-shadow(0px 0px 1px #fff) drop-shadow(0px 0px 2px #fff)
      drop-shadow(0px 0px 5px rgb(255, 189, 89));
  }

  100% {
    filter: drop-shadow(0px 0px 2px #fff) drop-shadow(0px 0px 4px #fff)
      drop-shadow(0px 0px 7px rgb(255, 189, 89));
  }
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

.card {
  display: flex;
  width: 325px;
  background-color: rgb(255, 189, 89);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.2);
  margin: 20px;
  flex-direction: column;
}

.card-content {
  color: black;
  padding: 15px;
  flex-grow: 1;
}

.card-content h3 {
  margin-top: 10px;
}

.card-footer .btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #1f1f1f;
  border-radius: 4px;
  margin-left: 10px;
  margin-bottom: 10px;
  color: white;
}
