body {
  color: white;
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(10, 10, 10);
}

img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  stroke: #fff;
  width: 100px;

  animation-name: animate;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes animate {
  0% {
    filter: drop-shadow(0px 0px 1px #fff) drop-shadow(0px 0px 2px #fff)
      drop-shadow(0px 0px 5px #e3ff44);
  }

  100% {
    filter: drop-shadow(0px 0px 2px #fff) drop-shadow(0px 0px 4px #fff)
      drop-shadow(0px 0px 7px #e3ff44);
  }
}
