body {
  color: white;
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(22, 22, 22);
  margin-left: 75px;
  margin-right: 75px;
}

section {
  margin-top: 75px;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 35px;
}

p {
  font-size: 20px;
}

#myThingsPara {
  font-size: 25px;
}

button {
  color: white;
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
  background-color: transparent;
  cursor: pointer;
  border-style: solid;
  border-color: white;
  border-radius: 7px;
  border-width: 1px;
}

img {
  padding-top: 25px;
  stroke: #fff;
  width: 210px;
  animation-name: animate;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes animate {
  0% {
    filter: drop-shadow(0px 0px 1px #fff) drop-shadow(0px 0px 2px #fff)
      drop-shadow(0px 0px 5px #e3ff44);
  }

  100% {
    filter: drop-shadow(0px 0px 2px #fff) drop-shadow(0px 0px 4px #fff)
      drop-shadow(0px 0px 7px #e3ff44);
  }
}
