:root {
  --background-colour: rgb(22, 22, 22);
  --foreground-colour: rgb(231, 177, 58);
}

body {
  color: white;
  font-family: "Courier New", Courier, monospace;
  background-color: var(--background-colour);
  margin: 5rem;
}

section {
  margin-top: 4rem;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 1.7rem;
}

p {
  font-size: 1.3rem;
}

a {
  text-decoration-line: none;
}

.rectangle-divider {
  height: 1rem;
  border-radius: 7px;
  background-color: var(--foreground-colour);
  border-color: var(--foreground-colour);
  margin: 10px 0px;
}

.work-exp-description {
  margin-top: 5rem;
}
