:root {
  --background-colour: rgb(22, 22, 22);
}

body {
  color: white;
  font-family: "Courier New", Courier, monospace;
  background-color: var(--background-colour);
  margin: clamp(2rem, 25%, 5rem) clamp(2rem, 15%, 15rem);
}

section {
  margin-top: 4rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: clamp(1.2rem, 50%, 1.5rem);
  line-height: 1.5;
}

a {
  text-decoration-line: none;
}

a:link {
  color: rgb(30, 128, 207); /* Unvisited link color */
}

.justified-para {
  text-align: justify;
  text-justify: inter-word;
}

.embedded-para {
  font-size: 1.2rem;
}
