:root {
  --background-colour: rgb(22, 22, 22);
  --foreground-colour: rgb(231, 177, 58);
  --shadow-colour: rgb(0, 0, 0, 0.2);
}

@keyframes krish-img-animation {
  0% {
    filter: drop-shadow(0px 0px 1px #fff) drop-shadow(0px 0px 2px #fff)
      drop-shadow(0px 0px 5px var(--foreground-colour));
  }

  100% {
    filter: drop-shadow(0px 0px 2px #fff) drop-shadow(0px 0px 4px #fff)
      drop-shadow(0px 0px 7px var(--foreground-colour));
  }
}

button {
  color: white;
  font-size: 1.3rem;
  font-family: "Courier New", Courier, monospace;
  background-color: transparent;
  cursor: pointer;
  border-style: solid;
  border-color: white;
  border-radius: 7px;
  border-width: 1px;
}

#krishImg {
  padding-top: 2rem;
  stroke: #fff;
  width: 210px;
  animation-name: krish-img-animation;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#myThingsPara {
  font-size: 1.7rem;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.card {
  display: flex;
  width: 17rem;
  background-color: var(--foreground-colour);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px var(--shadow-colour);
  margin: 0.5rem 0.5rem;
  flex-direction: column;
}

.card-content {
  color: black;
  padding: 1rem;
  flex-grow: 1;
}

.card-content h3 {
  margin-top: 1rem;
}

.card-footer {
  display: block;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
}

.card-footer .btn {
  display: block;
  text-align: center;
  padding: 0.5rem 1rem;
  background-color: var(--background-colour);
  border-radius: 4px;
  margin-top: 0.3rem;
  color: white;
}

.experience-container {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.experience-card {
  width: 40rem;
  background: rgb(30, 30, 30);
  border: 1px solid rgb(60, 60, 60);
  padding: 20px;
  border-radius: 12px;
  transition: 0.3s ease;
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.experience-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}

.company-logo {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  object-fit: cover;
  background: #444;
}

.company-name {
  font-size: 20px;
  margin: 0px 5px;
  color: #fff;
}

.job-title {
  font-size: 14px;
  color: #ccc;
  margin: 5px;
}

.job-desc {
  color: #ddd;
  line-height: 1.5;
  font-size: 15px;
  margin-left: 5px;
  margin-bottom: 20px;
}

.exp-text {
  flex: 1;
}

.external-link-icon {
  height: 1rem;
  fill: white;
  transition: 0.2s;
}

.external-link-icon:hover {
  fill: #ddd;
  transform: scale(1.1);
}

.work-button {
  display: block;
  text-align: center;
  padding: 0.5rem 1rem;
  background-color: var(--foreground-colour);
  border-radius: 4px;
  margin-top: 0.3rem;
  color: rgb(0, 0, 0);
}

@media (max-width: 600px) {
  .experience-card {
    width: 100%;
  }
}
