:root {
  --background-colour: rgb(22, 22, 22);
  --foreground-colour: rgb(160, 144, 255);
  --shadow-colour: rgb(0, 0, 0, 0.2);
}

body {
  color: white;
  font-family: "Courier New", Courier, monospace;
  background-color: var(--background-colour);
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 10rem;
}

section {
  margin-top: 4rem;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 1.7rem;
}

p {
  font-size: 1.3rem;
}

a {
  text-decoration-line: none;
}

button {
  color: white;
  font-size: 1.3rem;
  font-family: "Courier New", Courier, monospace;
  background-color: transparent;
  cursor: pointer;
  border-style: solid;
  border-color: white;
  border-radius: 7px;
  border-width: 1px;
}

#krishImg {
  padding-top: 2rem;
  stroke: #fff;
  width: 210px;
  animation-name: animate;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#myThingsPara {
  font-size: 1.7rem;
}

@keyframes animate {
  0% {
    filter: drop-shadow(0px 0px 1px #fff) drop-shadow(0px 0px 2px #fff)
      drop-shadow(0px 0px 5px var(--foreground-colour));
  }

  100% {
    filter: drop-shadow(0px 0px 2px #fff) drop-shadow(0px 0px 4px #fff)
      drop-shadow(0px 0px 7px var(--foreground-colour));
  }
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.card {
  display: flex;
  width: 20rem;
  background-color: var(--foreground-colour);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px var(--shadow-colour);
  margin: 0.5rem 0.5rem;
  flex-direction: column;
}

.card-content {
  color: black;
  padding: 1rem;
  flex-grow: 1;
}

.card-content h3 {
  margin-top: 1rem;
}

.card-footer {
  display: block;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
}

.card-footer .btn {
  display: block;
  text-align: center;
  padding: 0.5rem 1rem;
  background-color: var(--background-colour);
  border-radius: 4px;
  margin-top: 0.3rem;
  color: white;
}
